/1-5492
/5493-21000
/all_data
/dataFix
/datasetfix
/datasetfix-Backup
/datasetyangdigunakan.xlsx
/dataset_balance_1_bfr.csv
/example_physionet.py
/hasil pqrst lama
/hasil pqrst lama.zip
/ptbxl_database.csv
/Sci-Hub _ Local App Classification using Deep Neural Network based on Mobile App Market Data. 2019 IEEE International Conference on Pervasive Computing and Communications (PerCom _ 10.1109_PERCOM.2019.8767416.pdf
/scp_statements.csv